[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevilAction
X-KDE-Library=powerdevildpmsaction
Icon=preferences-desktop-screensaver
Name=Screen Energy Saving
Name[et]=Ekraanisäästja
Name[ia]=Sparnio de Energia de Schermo
Name[pa]=ਸਕਰੀਨ ਊਰਜਾ ਬਚਾਉਣੀ
Name[pt]=Configuração da Energia do Ecrã
Name[pt_BR]=Configurações da energia da tela
Name[sv]=Strömsparhantering av bildskärmen
Name[uk]=Заощадження енергії екраном
Name[x-test]=xxScreen Energy Savingxx
Comment=Controls DPMS settings
Comment[et]=Monitori toiteseadistused
Comment[ia]=Preferentias de Controlos DPMS
Comment[pa]=DPMS ਕੰਟਰੋਲ ਕਰੋ
Comment[pt]=Controla a configuração do DPMS
Comment[pt_BR]=Controla as configurações do DPMS
Comment[sv]=Styr DPMS-inställningar
Comment[uk]=Керування параметрами DPMS
Comment[x-test]=xxControls DPMS settingsxx

X-KDE-PowerDevil-Action-ID=DPMSControl
X-KDE-PowerDevil-Action-IsBundled=false
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevildpmsaction_config
X-KDE-PowerDevil-Action-ConfigPriority=98
