[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevil/Action
X-KDE-Library=powerdevildpmsaction
Icon=preferences-desktop-screensaver
Name=Screen Energy Saving
Name[cs]=Úsporný režim obrazovky
Name[de]=Bildschirm-Energieverwaltung
Name[pl]=Oszczędzaj energię ekranu
Name[pt_BR]=Configurações da energia da tela
Name[uk]=Заощадження енергії екраном
Name[x-test]=xxScreen Energy Savingxx
Comment=Controls DPMS settings
Comment[cs]=Ovládání nastavení DPMS
Comment[de]=DPMS-Einstellungen
Comment[pl]=Steruje ustawieniami DPMS
Comment[pt_BR]=Controla as configurações do DPMS
Comment[uk]=Керування параметрами DPMS
Comment[x-test]=xxControls DPMS settingsxx

X-KDE-PowerDevil-Action-ID=DPMSControl
X-KDE-PowerDevil-Action-IsBundled=false
X-KDE-PowerDevil-Action-ForceInstantLoad=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevildpmsaction_config
X-KDE-PowerDevil-Action-ConfigPriority=98
X-KDE-PowerDevil-Action-HasRuntimeRequirement=true
