[Desktop Entry]
Exec=kcmshell4 powerdevilglobalconfig
Icon=preferences-other
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/powerdevil/index.html

X-KDE-Library=kcm_powerdevilglobalconfig
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=power-management
X-KDE-Weight=99

Name=Advanced settings
Name[ca]=Arranjament avançat
Name[cs]=Pokročilá nastavení
Name[da]=Avancerede indstillinger
Name[de]=Erweiterte Einstellungen
Name[et]=Muud seadistused
Name[eu]=Ezarpen aurreratuak
Name[fi]=Lisäasetuksets
Name[ia]=Preferentias Avantiate
Name[kk]=Жетелеп баптау
Name[lt]=Sudėtingesni nustatymai
Name[nb]=Avanserte innstillinger
Name[nds]=Verwiedert Instellen
Name[nl]=Geavanceerde instellingen
Name[pa]=ਤਕਨੀਕੀ ਸੈਟਿੰਗ
Name[pt]=Configuração avançada
Name[pt_BR]=Configurações avançadas
Name[ro]=Configurări avansate
Name[sv]=Avancerade inställningar
Name[uk]=Додаткові параметри
Name[x-test]=xxAdvanced settingsxx
Name[zh_CN]=高级设置
Name[zh_TW]=進階設定

Comment=Configure advanced Power Management settings
Comment[ca]=Configura l'arranjament avançat de gestió d'energia
Comment[cs]=Nastavení pokročilého nastavení správy napájení
Comment[da]=Indstil avanceret strømstyring
Comment[de]=Erweiterte Energieprofile einrichten
Comment[et]=Toitehalduse muud seadistused
Comment[eu]=Konfiguratu energia kudeatzeko ezarpen aurreratuak
Comment[fi]=Virranhallinnan lisäasetukset
Comment[ia]=Configura preferentias avantiate de gestion de energia
Comment[kk]=Қуаттандыруның жетелеген параметрлерін баптау
Comment[nb]=Sett opp avanserte strømstyringsinnstillinger
Comment[nds]=Verwiedert Stroomkuntrullprofilen instellen
Comment[nl]=Instellingen voor geavanceerd energiebeheer instellen
Comment[pa]=ਤਕਨੀਕੀ ਪਾਵਰ ਪਰਬੰਧ ਸੈਟਿੰਗ ਸੰਰਚਨਾ
Comment[pt]=Configurar as opções avançadas de Gestão de Energia
Comment[pt_BR]=Configura as opções avançadas de gerenciamento de energia
Comment[ro]=Configurează opțiunile avansate de gestiune a alimentării
Comment[sv]=Anpassa avancerade inställningar av strömsparhantering
Comment[uk]=Налаштування додаткових параметрів керування живленням
Comment[x-test]=xxConfigure advanced Power Management settingsxx
Comment[zh_CN]=配置高级电源管理
Comment[zh_TW]=設定進階電源管理

X-KDE-Keywords=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid
X-KDE-Keywords[ca]=sistema,energia,gestió d'energia,corrent,portàtil,bateria,suspensió,AC,suspendre,hibernació,lluminositat,rendiment,tapa
X-KDE-Keywords[da]=system,strøm,strømstyring,energi,laptop,bærbar,batteri,suspension,AC,strømforsyning,suspender,slumre,dvale,lysstyrke,ydelse,låg
X-KDE-Keywords[et]=süsteem,energia,toide,toitehaldus,sülearvuti,aku,uneseisund,uni,talveuni, heledus,jõudlus,kaas
X-KDE-Keywords[fi]=järjestelmä,virta,virranhallinta,energia,kannettava,tietokone,läppäri,akku,lepotila,valmiustila,AC,virtalähde,keskeytä,kirkkaus,suorituskyky,kansi
X-KDE-Keywords[ia]=systema,potentia,gestion de potentia,energia,laptop,batteria,suspension,CA,suspende,hiberna,brillantia,prestation,coperculo
X-KDE-Keywords[kk]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid
X-KDE-Keywords[nb]=system,strøm,strømstyring,energi,bærbar,batteri,hvilemodus,AC,hvile,dvale,lysstyrke,ytelse,lokk
X-KDE-Keywords[nl]=systeem,energie,energiebeheer,laptop,batterij,suspension,AC,onderbreken,slapen,helderheid,prestaties,deksel
X-KDE-Keywords[pt]=sistema,energia,gestão de energia,portátil,bateria,suspensão,AC,suspender,hibernar,brilho,performance,tampo
X-KDE-Keywords[pt_BR]=sistema,energia,gerenciamento de energia,energia,notebook,laptop,portátil,bateria,suspensão,AC,suspender,hibernar,brilho,desempenho,tampa
X-KDE-Keywords[sv]=system,kraft,krafthantering,energi,bärbar dator,batteri,viloläge,AC,gå till viloläge,dvala,ljusstyrka,prestanda,lock
X-KDE-Keywords[uk]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid,система,живлення,мережа,струм,керування,енергія,ноутбук,акумулятор,батарея,батареї,присипляння,призупинення,призупинка,яскравість,швидкодія,кришка,кришки
X-KDE-Keywords[x-test]=xxsystem,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lidxx
X-KDE-Keywords[zh_TW]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid
