[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=PowerDevil/Action

Comment=Power Management Action Extension
Comment[ast]=Estensión aiciones xestión d'enerxía
Comment[da]=Udvidelse af strømstyringshandling
Comment[de]=Erweiterung für Energieverwaltungs-Aktionen
Comment[en_GB]=Power Management Action Extension
Comment[et]=Toitehalduse laiendus
Comment[ia]=Extension de Action de Gestion de energia
Comment[kk]=Қуаттандыруды басқару әрекетін кеңейтуі
Comment[km]=ផ្នែក​បន្ថែម​សកម្មភាព​គ្រប់គ្រង​ថាមពល
Comment[ko]=전력 관리 동작 확장
Comment[lt]=Energijos valdymo veiksmų plėtinys
Comment[nb]=Handlingsutvidelse for strømstyring
Comment[nds]=Verwiedern för Stroomkuntrullakschonen
Comment[nl]=Uitbreiding voor energiebeheeractie
Comment[pa]=ਪਾਵਰ ਮੈਨਿਜਮੈਂਟ ਐਕਸ਼ਣ ਇਕਸਟੈਸ਼ਨ
Comment[pt]=Extensão da Acção de Gestão da Energia
Comment[pt_BR]=Extensão da ação do gerenciamento de energia
Comment[sv]=Åtgärdsutökning för strömsparhantering
Comment[th]=ส่วนขยายการกระทำเกี่ยวกับการจัดการพลังงาน
Comment[uk]=Розширення дій керування живленням
Comment[x-test]=xxPower Management Action Extensionxx
Comment[zh_TW]=電源管理動作延伸

[PropertyDef::X-KDE-PowerDevil-Action-ID]
Type=QString
[PropertyDef::X-KDE-PowerDevil-Action-IsBundled]
Type=bool
[PropertyDef::X-KDE-PowerDevil-Action-UIComponentLibrary]
Type=QString
[PropertyDef::X-KDE-PowerDevil-Action-ConfigPriority]
Type=int
