[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=PowerDevilAction

Comment=Power Management Action Extension
Comment[x-test]=xxPower Management Action Extensionxx

[PropertyDef::X-KDE-PowerDevil-Action-ID]
Type=QString
[PropertyDef::X-KDE-PowerDevil-Action-IsBundled]
Type=bool
[PropertyDef::X-KDE-PowerDevil-Action-UIComponentLibrary]
Type=QString
[PropertyDef::X-KDE-PowerDevil-Action-ConfigPriority]
Type=int
