[Desktop Entry]
Name=PowerDevil Data Engine
Name[et]=PowerDevili andmete mootor
Name[sv]=Datagränssnitt för Powerdevil
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=kget
X-KDE-Library=plasma_engine_powerdevil
X-Plasma-EngineName=powerdevil
