[Desktop Entry]
Name=PowerDevil Data Engine
Name[gl]=Motor de datos de PowerDevil
Name[sv]=Datagränssnitt för Powerdevil
Name[uk]=Рушій даних PowerDevil
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=kget
X-KDE-Library=plasma_engine_powerdevil
X-Plasma-EngineName=powerdevil
