[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevilBackend
X-KDE-Library=powerdevilhalbackend
InitialPreference=100
Icon=preferences-system-power-management
Name=HAL PowerDevil Backend
Name[ca]=Dorsal de HAL per al PowerDevil
Name[es]=Motor PowerDevil de HAL
Name[fi]=HAL PowerDevil-taustaosa
Name[nds]=Hülpprogramm för den HAL-Stroomdüvel
Name[nl]=Backend voor HAL PowerDevil
Name[pl]=Moduł HAL dla PowerDevil
Name[pt]=Infra-Estrutura de HAL do PowerDevil
Name[pt_BR]=Infraestrutura de HAL para o PowerDevil
Name[sk]=Backend HAL PowerDevil
Name[sr]=ХАЛ као позадина Струјног ђавола
Name[sr@ijekavian]=ХАЛ као позадина Струјног ђавола
Name[sr@ijekavianlatin]=HAL kao pozadina Strujnog đavola
Name[sr@latin]=HAL kao pozadina Strujnog đavola
Name[sv]=HAL Powerdevil-gränssnitt
Name[tr]=HAL (Donanım Ayırma Katmanı) PowerDevil Arkayüzü
Name[uk]=Сервер PowerDevil HAL
Name[x-test]=xxHAL PowerDevil Backendxx
Comment=Use KDE Power Management system through freedesktop.org HAL daemon
Comment[ca]=Usa el sistema de gestió d'energia del KDE mitjançant el dimoni HAL del freedesktop.org
Comment[es]=Usar el sistema de ahorro de energía de KDE a través del demonio HAL de freedesktop.org
Comment[fi]=KDE:n virranhallintajärjestelmän käyttö freedesktop.org HAL-taustaprosessilla
Comment[nds]=Den HAL-Dämoon vun freedesktop.org för de KDE-Stroomkuntrull bruken
Comment[nl]=KDE energiebeheer gebruiken via de HAL-daemon van freedesktop.org
Comment[pl]=Zarządzanie energią za pomocą usługi HAL z freedesktop.org
Comment[pt]=Usa o sistema de Gestão de Energia do KDE através do serviço HAL do freedesktop.org
Comment[pt_BR]=Usar o sistema de gerenciamento de energia do KDE através do daemon HAL do freedesktop.org
Comment[sk]=Správa napájania KDE pomocou démona HAL z freedesktop.org
Comment[sr]=КДЕ‑ов систем за управљање напајањем преко демона ХАЛ‑а
Comment[sr@ijekavian]=КДЕ‑ов систем за управљање напајањем преко демона ХАЛ‑а
Comment[sr@ijekavianlatin]=KDE‑ov sistem za upravljanje napajanjem preko demona HAL‑a
Comment[sr@latin]=KDE‑ov sistem za upravljanje napajanjem preko demona HAL‑a
Comment[sv]=Använd KDE:s strömsparhantering via HAL-demon från freedesktop.org
Comment[tr]=KDE Güç Yönetimi sistemini freedesktop.org'un HAL servisi üzerinden kullan
Comment[uk]=Використання системи керування живленням KDE за допомогою фонової служби HAL freedesktop.org
Comment[x-test]=xxUse KDE Power Management system through freedesktop.org HAL daemonxx
