[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevilBackend
X-KDE-Library=powerdevilhalbackend
InitialPreference=100
Icon=preferences-system-power-management
Name=HAL PowerDevil Backend
Name[ca]=Dorsal de HAL per al PowerDevil
Name[cs]=Podpůrná vrstva HAL PowerDevil
Name[da]=HAL-motor til PowerDevil
Name[de]=HAL-PowerDevil-Backend
Name[es]=Motor HAL PowerDevil
Name[fi]=HAL PowerDevil-taustaosa
Name[fr]=Module HAL de PowerDevil
Name[ja]=HAL PowerDevil バックエンド
Name[nb]=HAL PowerDevil-motor
Name[nds]=Hülpprogramm för den HAL-Stroomdüvel
Name[nl]=Backend voor HAL PowerDevil
Name[pl]=Moduł HAL dla PowerDevil
Name[pt]=Infra-Estrutura de HAL do PowerDevil
Name[pt_BR]=Infraestrutura de HAL para o PowerDevil
Name[ro]=Suport PowerDevil HAL
Name[sk]=Backend HAL PowerDevil
Name[sv]=HAL Powerdevil-gränssnitt
Name[tr]=HAL PowerDevil Arkaucu
Name[uk]=Сервер PowerDevil HAL
Name[x-test]=xxHAL PowerDevil Backendxx
Name[zh_TW]=HAL PowerDevil 後端介面
Comment=Use KDE Power Management system through freedesktop.org HAL daemon
Comment[ca]=Usa el sistema de gestió d'energia del KDE mitjançant el dimoni HAL del freedesktop.org
Comment[cs]=Využít démon freedesktop.org HAL pro systém správy napájení KDE
Comment[da]=Brug KDE strømstyring via HAL-dæmonen fra freedesktop.org
Comment[de]=Das KDE-Energieverwaltungssystem mit Hilfe des HAL-Dienstes von freedesktop.org verwenden
Comment[fi]=KDE:n virranhallintajärjestelmän käyttö freedesktop.org HAL-taustaprosessilla
Comment[fr]=Utiliser le système de gestion de l'énergie du matériel via le démon HAL de « freedesktop.org »
Comment[ja]=freedesktop.org の HAL デーモンを介して KDE 電源管理を使用
Comment[nb]=Bruk KDE strømstyringssystem med HAL-nissen fra freedesktop.org
Comment[nds]=Den HAL-Dämoon vun freedesktop.org för de KDE-Stroomkuntrull bruken
Comment[nl]=KDE energiebeheer gebruiken via de HAL-daemon van freedesktop.org
Comment[pl]=Zarządzanie zasilaniem za pomocą usługi HAL z freedesktop.org
Comment[pt]=Usa o sistema de Gestão de Energia do KDE através do serviço HAL do freedesktop.org
Comment[pt_BR]=Usar o sistema de gerenciamento de energia do KDE através do daemon HAL do freedesktop.org
Comment[ro]=Folosește sistemul KDE de gestiune a alimentării prin intermediul demonului HAL de la freedesktop.org
Comment[sk]=Správa napájania KDE pomocou démona HAL z freedesktop.org
Comment[sv]=Använd KDE:s strömsparhantering via HAL-demon från freedesktop.org
Comment[tr]=KDE Güç Yönetim sisteminde freedesktop.org HAL servisini kullan
Comment[uk]=Використання системи керування живленням KDE за допомогою фонової служби HAL freedesktop.org
Comment[x-test]=xxUse KDE Power Management system through freedesktop.org HAL daemonxx
Comment[zh_TW]=透過 freedesktop.org 的 HAL 伺服程式使用 KDE 電源管理系統
