[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevilBackend
X-KDE-Library=powerdevilhalbackend
InitialPreference=100
Icon=preferences-system-power-management
Name=HAL PowerDevil Backend
Name[de]=HAL-PowerDevil-Backend
Name[et]=HAL-i PowerDevili taustaprogramm
Name[ia]=HAL PowerDevil Backend
Name[nds]=Hülpprogramm för den HAL-Stroomdüvel
Name[nl]=Backend voor HAL PowerDevil
Name[pa]=HAL ਪਾਵਰ-ਡੀਵਿਲ ਬੈਕਐਂਡ
Name[pt]=Infra-Estrutura de HAL para o PowerDevil
Name[pt_BR]=Infraestrutura de HAL para o PowerDevil
Name[sv]=HAL Powerdevil-gränssnitt
Name[uk]=Сервер PowerDevil HAL
Name[x-test]=xxHAL PowerDevil Backendxx
Name[zh_TW]=HAL PowerDevil 後端介面
Comment=Use KDE Power Management system through freedesktop.org HAL daemon
Comment[de]=Das KDE-Energieverwaltungsystem mit Hilfe des HAL-Dienstes von freedesktop.org verwenden
Comment[et]=KDE toitehalduse süsteemi kasutamine freedesktop.org-i HAL-deemoni abil
Comment[ia]=Usar systema de Gestion de Energia de KDE usante demone HAL de freedesktop.org
Comment[nds]=Den HAL-Dämoon vun freedesktop.org för de KDE-Stroomkuntrull bruken
Comment[nl]=KDE energiebeheer gebruiken via de HAL-daemon van freedesktop.org
Comment[pt]=Usar o sistema de gestão de energia do KDE através do servidor de HAL do freedesktop.org
Comment[pt_BR]=Usar o sistema de gerenciamento de energia do KDE através do daemon HAL do freedesktop.org
Comment[sv]=Använd KDE:s strömsparhantering via HAL-demon från freedesktop.org
Comment[uk]=Використання системи керування живленням KDE за допомогою фонової служби HAL freedesktop.org
Comment[x-test]=xxUse KDE Power Management system through freedesktop.org HAL daemonxx
Comment[zh_TW]=透過 freedesktop.org 的 HAL 伺服程式使用 KDE 電源管理系統
