[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=PowerDevilBackend

Comment=Power Management Backend
Comment[af]=Krag-beheer agtergrondprogram
Comment[ar]=المنتهى الخلفي لإدارة الطاقة
Comment[be]=Кіраванне сілкаваннем
Comment[be@latin]=Systema kiravańnia enerhijaj
Comment[ca]=Dorsal de gestió d'energia
Comment[ca@valencia]=Dorsal de gestió d'energia
Comment[cs]=Backend pro správu napájení
Comment[da]=Motor til strømstyring
Comment[de]=Backend zur Energieverwaltung
Comment[el]=Σύστημα διαχείρισης ενέργειας
Comment[en_GB]=Power Management Backend
Comment[eo]=Energiadministrada interno
Comment[es]=Motor de la gestión de energía
Comment[et]=Voolutarbe haldamise taustaprogramm
Comment[eu]=Energia kudeatzeko interfazea
Comment[fa]=پایانه پشتیبانی مدیریت توان
Comment[fi]=Tulostuksenhallinnan taustaosa
Comment[fr]=Interface de gestion de l'énergie
Comment[fy]=Enerzjybehear backend
Comment[ga]=Inneall Bainisteoireachta Cumhachta
Comment[gl]=Infraestrutura de xestión da enerxía
Comment[gu]=પાવર વ્યવસ્થાપક બેકએન્ડ
Comment[he]=תהליך קצה לניהול צריכת חשמל
Comment[hi]=पॉवर प्रबंधन बैकएण्ड
Comment[hne]=पावर प्रबंधन बैकएन्ड
Comment[hr]=Podrška za upravljanje potrošnjom energije
Comment[hsb]=Backend za rjadowanje miliny
Comment[hu]=Energiakezelő modul
Comment[ia]=Backend Gestion de energia
Comment[id]=Ujung Belakang Manajemen Daya
Comment[is]=Orkustýringarbakendi
Comment[it]=Motore di gestione energetica
Comment[ja]=電源管理のバックエンド
Comment[kk]=Қуаттандыруды басқару тетігі
Comment[km]=ការ​គ្រប់គ្រង​ថាមពល​កម្មវិធី​ខាង​ក្រោយ
Comment[kn]=ವಿದ್ಯುಚ್ಛಕ್ತಿ ವ್ಯವಸ್ಥಾಪನೆ ಹಿನ್ನೆಲೆ (ಬಾಕ್ ಎಂಡ್)
Comment[ko]=전력 관리 백엔드
Comment[lt]=Energijos tvarkymo programinė sąsaja
Comment[lv]=Energokontroles aizmugure
Comment[mai]=पावर प्रबंधन बैकएण्ड
Comment[mk]=Заден крај за менаџмент на енергија
Comment[ml]=വൈദ്യുതി നടത്തിപ്പു് സംവിധാനം
Comment[mr]=पावर व्यवस्थापन बैकएण्ड
Comment[nb]=Bakgrunnsmotor for strømstyring
Comment[nds]=Hülpprogramm för de Stroomkuntrull
Comment[ne]=शक्ति व्यवस्थापन ब्याकइन्ड
Comment[nl]=Energiebeheer backend
Comment[nn]=Motor for straumstyring
Comment[pa]=ਪਾਵਰ ਮੈਨਿਜਮੈਂਟ ਬੈਕਐਂਡ
Comment[pl]=Usługa zarządzania energią
Comment[pt]=Infra-Estrutura de Gestão da Energia
Comment[pt_BR]=Infraestrutura de gerenciamento de energia
Comment[ro]=Suport pentru administrare de energie
Comment[ru]=Управление питанием
Comment[se]=El-rávdnjegieđahallanmohtor
Comment[si]=බල කළමනාකරණ පසුඉම
Comment[sk]=Rozhranie pre správu napájania
Comment[sl]=Hrbtenica za upravljanje z energijo
Comment[sr]=Позадина за управљање напајањем
Comment[sr@ijekavian]=Позадина за управљање напајањем
Comment[sr@ijekavianlatin]=Pozadina za upravljanje napajanjem
Comment[sr@latin]=Pozadina za upravljanje napajanjem
Comment[sv]=Gränssnitt för strömsparhantering
Comment[ta]=மின்சக்தி நிர்வாகப் பின்னணி
Comment[te]=పవర్ నిర్వహణా బ్యాక్ఎండ్
Comment[tg]=Пуштибонии идоракунии барқи батарея
Comment[th]=โปรแกรมเบื้องหลังการจัดการพลังงาน
Comment[tr]=Güç Yönetimi Arka Ucu
Comment[uk]=Програма керування живленням
Comment[vi]=Hậu phương quản lý nguồn điện
Comment[wa]=Bouye di fond di manaedjmint di l' enerdjeye
Comment[x-test]=xxPower Management Backendxx
Comment[zh_CN]=电源管理后端
Comment[zh_TW]=電源管理後端介面

[PropertyDef::X-KDE-SolidBackendInfo-Version]
Type=QString

