[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevilBackend
X-KDE-Library=powerdevilupowerbackend
InitialPreference=200
Icon=preferences-system-power-management
Name=UPower PowerDevil Backend
Name[nl]=Backend voor UPower PowerDevil
Name[pl]=Moduł UPower dla PowerDevil
Name[pt_BR]=Infraestrutura de UPower para o PowerDevil
Name[sv]=Upower Powerdevil-gränssnitt
Name[uk]=Сервер PowerDevil UPower
Name[x-test]=xxUPower PowerDevil Backendxx
Comment=Use KDE Power Management system through freedesktop.org upower daemon
Comment[nl]=KDE energiebeheer gebruiken via de upower-daemon van freedesktop.org
Comment[pl]=Zarządzanie energią za pomocą usługi upower z freedesktop.org
Comment[pt_BR]=Usar o sistema de gerenciamento de energia do KDE através do daemon upower do freedesktop.org
Comment[sv]=Använd KDE:s strömsparhantering via Upower-demon från freedesktop.org
Comment[uk]=Використання системи керування живленням KDE за допомогою фонової служби upower freedesktop.org
Comment[x-test]=xxUse KDE Power Management system through freedesktop.org upower daemonxx
