[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevilBackend
X-KDE-Library=powerdevilupowerbackend
InitialPreference=200
Icon=preferences-system-power-management
Name=UPower PowerDevil Backend
Name[et]=UPoweri PowerDevili taustaprogramm
Name[ia]=UPower PowerDevil Backend
Name[pa]=UPower ਪਾਵਰ-ਡੀਵਿਲ ਬੈਕਐਂਡ
Name[pt]=Infra-Estrutura de UPower para o PowerDevil
Name[pt_BR]=Infraestrutura de UPower para o PowerDevil
Name[sv]=Upower Powerdevil-gränssnitt
Name[uk]=Сервер PowerDevil UPower
Name[x-test]=xxUPower PowerDevil Backendxx
Name[zh_TW]=UPower PowerDevil 後端介面
Comment=Use KDE Power Management system through freedesktop.org upower daemon
Comment[et]=KDE toitehalduse süsteemi kasutamine freedesktop.org-i upoweri deemoni abil
Comment[ia]=Usar systema de Gestion de Energia de KDE usante demone upower de freedesktop.org
Comment[pt]=Usar o sistema de gestão de energia do KDE através do servidor 'upower' do freedesktop.org
Comment[pt_BR]=Usar o sistema de gerenciamento de energia do KDE através do daemon upower do freedesktop.org
Comment[sv]=Använd KDE:s strömsparhantering via Upower-demon från freedesktop.org
Comment[uk]=Використання системи керування живленням KDE за допомогою фонової служби upower freedesktop.org
Comment[x-test]=xxUse KDE Power Management system through freedesktop.org upower daemonxx
Comment[zh_TW]=透過 freedesktop.org 的 upower 伺服程式使用 KDE 電源管理系統
