[Desktop Entry]
Exec=kcmshell4 powerdevilprofilesconfig
Icon=document-edit
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/powerdevil/index.html

X-KDE-Library=kcm_powerdevilprofilesconfig
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=power-management

Name=Power Profiles
Name[ast]=Perfiles d'enerxía
Name[bs]=Profili napajanja
Name[ca]=Perfils d'energia
Name[ca@valencia]=Perfils d'energia
Name[cs]=Profily napájení
Name[da]=Strømstyringsprofiler
Name[de]=Energieprofile
Name[el]=Προφίλ ενέργειας
Name[en_GB]=Power Profiles
Name[es]=Perfiles de energía
Name[et]=Voolutarbe profiilid
Name[fi]=Virtaprofiilit
Name[fr]=Profils de contrôle de l'énergie
Name[he]=פרופילי צריכת חשמל
Name[hr]=Energetski profili
Name[hu]=Energiakezelési profilok
Name[ia]=Profilos de energia
Name[is]=Orkustillingasnið
Name[it]=Profili energetici
Name[ja]=電源プロファイル
Name[kk]=Қуаттандыру профильдері
Name[km]=ទម្រង់​ថាមពល
Name[kn]=ವಿದ್ಯುಚ್ಛಕ್ತಿ ಪ್ರೊಫೈಲುಗಳು
Name[ko]=전원 프로필
Name[lt]=Energijos profiliai
Name[nb]=Strømprofiler
Name[nds]=Stroomkuntrull-Profilen
Name[nl]=Energieprofielen
Name[pa]=ਪਾਵਰ ਪਰੋਫਾਇਲ
Name[pl]=Profile zarządzania energią
Name[pt]=Perfis de Energia
Name[pt_BR]=Perfis de energia
Name[ro]=Profiluri de alimentare
Name[ru]=Профили
Name[sk]=Profily napájania
Name[sl]=Energijski profili
Name[sr]=Профили напајања
Name[sr@ijekavian]=Профили напајања
Name[sr@ijekavianlatin]=Profili napajanja
Name[sr@latin]=Profili napajanja
Name[sv]=Strömprofiler
Name[th]=โพรไฟล์พลังงาน
Name[tr]=Güç Profilleri
Name[ug]=توك مەنبە سەپلىمە ھۆججەتلىرى
Name[uk]=Профілі живлення
Name[x-test]=xxPower Profilesxx
Name[zh_CN]=电源配置方案
Name[zh_TW]=電源設定檔

Comment=Configure Power Management Profiles
Comment[ast]=Configurar los perfiles de xestión d'enerxía
Comment[bs]=Podešavanje profila za upravljanje napajanjem
Comment[ca]=Configura els perfils de gestió d'energia
Comment[ca@valencia]=Configura els perfils de gestió d'energia
Comment[cs]=Konfigurace profilů správy napájení
Comment[da]=Indstil strømstyringsprofiler
Comment[de]=Energieprofile einrichten
Comment[el]=Ρύθμιση των προφίλ διαχείρισης ενέργειας
Comment[en_GB]=Configure Power Management Profiles
Comment[es]=Configurar los perfiles de gestión de energía
Comment[et]=Voolutarbe profiilide teenuste seadistamine
Comment[fi]=Muokkaa virranhallintaprofiileja
Comment[fr]=Configure les profils pour la gestion de l'énergie
Comment[he]=הגדרת פרופילי צריכת חשמל
Comment[hr]=Podešavanje profila za upravljanje potrošnjom energije
Comment[hu]=Energiakezelési profilok beállítása
Comment[ia]=Configura profilos de gestion de energia
Comment[is]=Stilla orkustillingasnið
Comment[it]=Configura i profili di gestione energetica
Comment[ja]=電源管理プロファイルを設定します
Comment[kk]=Қуаттандыру профильдерін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ទម្រង់​គ្រប់គ្រង​ថាមពល
Comment[kn]=ಕಡತ ವ್ಯವಸ್ಥಾಪಕದ ಪ್ರೊಫೈಲುಗಳನ್ನು ಸಂರಚಿಸಿ
Comment[ko]=전원 관리 프로필 설정
Comment[lt]=Konfigūruoti energijos valdymo profilius
Comment[nb]=Tilpass strømstyringsprofiler
Comment[nds]=Stroomkuntrullprofilen instellen
Comment[nl]=Profielen voor energiebeheer instellen
Comment[pa]=ਪਾਵਰ ਪਰਬੰਧ ਪਰੋਫਾਇਲ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja profili zarządzania energią
Comment[pt]=Configurar os Perfis de Gestão de Energia
Comment[pt_BR]=Configura os perfis de gerenciamento de energia
Comment[ro]=Configurează profilurile de gestiune a alimentării
Comment[ru]=Настройка профилей управления питанием
Comment[sk]=Konfigurácia profilov správy napájania
Comment[sl]=Nastavitev profilov za upravljanje z energijo
Comment[sr]=Подешавање профила за управљање напајањем
Comment[sr@ijekavian]=Подешавање профила за управљање напајањем
Comment[sr@ijekavianlatin]=Podešavanje profila za upravljanje napajanjem
Comment[sr@latin]=Podešavanje profila za upravljanje napajanjem
Comment[sv]=Anpassa strömhanteringsprofiler
Comment[th]=ปรับแต่งโพรไฟล์การจัดการพลังงาน
Comment[tr]=Güç Yönetim Profillerini Yapılandır
Comment[ug]=توك مەنبە باشقۇرۇش سەپلىمە ھۆججەتلەر سەپلىمىسى
Comment[uk]=Налаштування профілів керування живленням
Comment[x-test]=xxConfigure Power Management Profilesxx
Comment[zh_CN]=配置电源管理方案
Comment[zh_TW]=設定電源管理

X-KDE-Keywords=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid
