[Desktop Entry]
Exec=kcmshell4 powerdevilprofilesconfig
Icon=preferences-system-power-management
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/powerdevil/index.html

X-KDE-Library=kcm_powerdevilprofilesconfig
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=power-management
X-KDE-Weight=1

Name=Energy Saving Settings

Comment=Configure Energy Saving Settings

X-KDE-Keywords=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid
