[Desktop Entry]
Exec=kcmshell4 powerdevilprofilesconfig
Icon=document-edit
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/powerdevil/index.html

X-KDE-Library=kcm_powerdevilprofilesconfig
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=power-management

Name=Power Profiles

Comment=Configure Power Management Profiles

X-KDE-Keywords=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid
