[Desktop Entry]
Type=Service
Icon=preferences-system-power-management
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=powerdevil
X-KDE-DBus-ModuleName=powerdevil
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1

Name=PowerDevil
Name[ar]=عفريت الطاقة
Name[gu]=પાવરડેવિલ
Name[hi]=पावर-डेविल
Name[is]=OrkuPúki
Name[kn]=ಪವರ್ ಡೆವಿಲ್
Name[nds]=Stroomdüvel
Name[pa]=ਪਾਵਰ-ਡੀਵਿਲ
Name[sr]=Струјни ђаво
Name[sr@latin]=Strujni đavo
Name[sv]=Powerdevil
Name[x-test]=xxPowerDevilxx

Comment=A Laptop Power Management Daemon
Comment[ar]=مراقب إدارة الطاقة للحواسيب المحمولة
Comment[be@latin]=Słužba kiravańnia enerhijaj na laptopie
Comment[bg]=Ддемон за управление на захранването на лаптоп
Comment[ca]=Un dimoni per a la gestió d'energia dels portàtils
Comment[csb]=Ùsłëżnota  sprôwianiô mòcą laptopów
Comment[da]=Dæmon til strømstyring på bærbare
Comment[de]=Ein Energieverwaltungsdienst für Notebooks
Comment[el]=Ένας δαίμονας διαχείρισης ενέργειας του φορητού υπολογιστή
Comment[es]=Un demonio de gestión de energía de portátiles
Comment[et]=Sülearvuti voolutarbe haldamise deemon
Comment[eu]=Eramangarrien energia kudeatzeko deabrua
Comment[fi]=Virranhallinan taustasovellus
Comment[fr]=Démon de gestion de l'énergie pour ordinateurs portables
Comment[gl]=Un daemon de xestión da enerxía para portátiles
Comment[gu]=લેપટોપ પાવર વ્યવસ્થાપક ડેમોન
Comment[hi]=लैपटॉप बिज़ली प्रबंधन डेमन
Comment[is]=Orkustýringarkerfi fyrir fartölvur
Comment[it]=Un demone per laptop per la gestione dell'energia
Comment[ja]=ラップトップ電源管理のデーモン
Comment[kk]=Лаптоп қуаттандыруын басқару қызметі
Comment[km]=ដេមិន​គ្រប់គ្រង​ថាមពល​របស់​កុំព្យូទ័រ​យួរដៃ
Comment[kn]=ಉಡಿಗಣಕ (ಲಾಪ್ಟಾಪ್) ವಿದ್ಯುಚ್ಛಕ್ತಿ ವ್ಯವಸ್ಥಾಪನಾ ನೇಪಥಿಕ (ಡೀಮನ್)
Comment[ko]=노트북 전원 관리 데몬
Comment[ku]=Servîsa Rêveberiya Hêza Laptopê
Comment[lv]=Klēpjdatora energokontroles dēmons
Comment[mk]=Даемон за менаџмент на енергија за лаптопи
Comment[ml]=ഒരു ലാപ്ടോപ് പവര്‍ മാനേജ്മെന്റ് നിരന്തരപ്രവ്രത്തി
Comment[mr]=लॅपटॉप पावर व्यवस्थापन डिमन
Comment[nb]=Strømstyringsnisse for bærbare maskiner
Comment[nds]=En Stroomkuntrull-Dämoon för Klappreekners
Comment[nl]=Een energiebeheerdaemon voor laptops
Comment[or]=ଲ୍ୟାପଟପ ଶକ୍ତି ପରିଚାଳନା ଡ଼େମନ
Comment[pa]=ਇੱਕ ਲੈਪਟਾਪ ਪਾਵਰ ਮੈਨਿਜਮੈਂਟ ਡੈਮਨ
Comment[pl]=Usługa zarządzania energią w laptopie
Comment[pt]=Um Sistema de Gestão da Energia para Portáteis
Comment[pt_BR]=Um daemon de gerenciamento de energia para laptop
Comment[ro]=Demon pentru gestiunea energiei laptopului
Comment[ru]=Служба управления питанием ноутбука
Comment[sk]=Démon na správu napájania notebooku
Comment[sl]=Upravljanje z energijo za prenosnike
Comment[sr]=Демон за управљање енергијом на лаптопу
Comment[sr@latin]=Demon za upravljanje energijom na laptopu
Comment[sv]=En strömspardemon för bärbara datorer
Comment[th]=ดีมอนจัดการพลังงานของเครื่องแลปทอป
Comment[tr]=Dizüstü Bilgisayarlar için bir Güç Yönetimi Servisi
Comment[uk]=Фонова служба керування живленням портативного комп’ютера
Comment[x-test]=xxA Laptop Power Management Daemonxx
Comment[zh_CN]=便携式电脑电源管理守护程序
Comment[zh_TW]=筆記型電腦電源管理守護程式
