[Desktop Entry]
Type=Service
Icon=preferences-system-power-management
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=powerdevil
X-KDE-DBus-ModuleName=powerdevil
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1

Name=Power Management
Name[ca]=Gestió d'energia
Name[es]=Gestión de energía
Name[fi]=Virranhallinta
Name[nb]=Strømstyring
Name[nds]=Stroompleeg
Name[nl]=Energiebeheer
Name[pl]=Zarządzanie energią
Name[pt]=Gestão de Energia
Name[pt_BR]=Gerenciamento de energia
Name[sk]=Správa napájania
Name[sl]=Upravljanje z energijo
Name[sr]=Управљање напајањем
Name[sr@ijekavian]=Управљање напајањем
Name[sr@ijekavianlatin]=Upravljanje napajanjem
Name[sr@latin]=Upravljanje napajanjem
Name[sv]=Strömhantering
Name[tr]=Güç Yönetimi
Name[uk]=Керування живленням
Name[x-test]=xxPower Managementxx

Comment=Battery, Display and CPU power management and notification
Comment[ca]=Gestió d'energia i notificació de la bateria, pantalla i CPU
Comment[es]=Gestión de energía y notificaciones de la batería, la pantalla y la CPU
Comment[fi]=Akun, näytön ja suorittimen virranhallinta sekä ilmoitukset
Comment[nb]=Håndtering og varsling for strømstyring av batteri, skjerm og prosessor
Comment[nds]=Batterie-, Schirm- un Perzesser-Stroomkuntrull un -Bescheden
Comment[nl]=Energiebeheer voor accu, scherm en CPU en meldingen
Comment[pl]=Zarządzanie i powiadomienia o stanie baterii, wyświetlacza i zasilania procesora
Comment[pt]=Gestão de energia e notificações da bateria, ecrã e CPU
Comment[pt_BR]=Gerenciamento e notificação de energia, da tela e do CPU
Comment[sk]=Správa napájania a upozornenia batérie, obrazovky a CPU
Comment[sl]=Upravljanje in obveščanje o porabi energije baterije, zaslona in procesorja
Comment[sr]=Обавештавање и управљање батеријом и напајањем екрана и процесора
Comment[sr@ijekavian]=Обавјештавање и управљање батеријом и напајањем екрана и процесора
Comment[sr@ijekavianlatin]=Obavještavanje i upravljanje baterijom i napajanjem ekrana i procesora
Comment[sr@latin]=Obaveštavanje i upravljanje baterijom i napajanjem ekrana i procesora
Comment[sv]=Hantering och underrättelser om batteri, skärm och processorkraft
Comment[tr]=Pil, Görüntü ve İşlemci güç yönetimi ve bildirimleri
Comment[uk]=Керування та сповіщення про стан акумуляторів та живлення дисплея і процесора
Comment[x-test]=xxBattery, Display and CPU power management and notificationxx
