[Desktop Entry]
Type=Service

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=powerdevil
X-KDE-DBus-ModuleName=powerdevil
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1

Name=PowerDevil
Name[nds]=Stroomdüvel
Name[sv]=Powerdevil

Comment=A Laptop Power Management Daemon
Comment[es]=Un demonio para la gestión de energía de un ordenador portátil
Comment[et]=Sülearvuti toitehalduse deemon
Comment[gl]=Un daemon de xestión da enerxía para portátiles
Comment[nds]=En Stroompleeg-Dämoon för Klappreekners
Comment[pt]=Um Gestor de Energia de Portáteis
Comment[pt_BR]=Um Gestor de Energia de Portáteis
Comment[sv]=En strömspardemon för bärbara datorer
Comment[uk]=Фонова служба керування живленням портативного комп’ютера
Comment[zh_TW]=筆記型電腦電源管理守護程式
