[Desktop Entry]
Exec=kcmshell4 powerdevilprofilesconfig
Icon=preferences-system-power-management
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/powerdevil/index.html

X-KDE-Library=kcm_powerdevilprofilesconfig
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=power-management

Name=Power Profiles
Name[de]=Energieprofile
Name[es]=Perfiles de energía
Name[et]=Voolutarbe profiilid
Name[ia]=Profilos de energia
Name[lt]=Energijos profiliai
Name[nds]=Stroomkuntrull-Profilen
Name[nl]=Energieprofielen
Name[pa]=ਪਾਵਰ ਪਰੋਫਾਇਲ
Name[pt]=Perfis de Energia
Name[pt_BR]=Perfis de energia
Name[sv]=Strömprofiler
Name[uk]=Профілі живлення
Name[x-test]=xxPower Profilesxx
Name[zh_TW]=電源設定檔

Comment=Configure Power Management Profiles
Comment[de]=Energieprofile einrichten
Comment[es]=Configurar los perfiles de gestión de energía
Comment[et]=Voolutarbe profiilide teenuste seadistamine
Comment[ia]=Configurar profilos de gestion de Energia
Comment[nds]=Stroomkuntrullprofilen instellen
Comment[nl]=Profielen voor energiebeheer instellen
Comment[pa]=ਪਾਵਰ ਪਰਬੰਧ ਪਰੋਫਾਇਲ ਸੰਰਚਨਾ
Comment[pt]=Configurar os Perfis de Gestão de Energia
Comment[pt_BR]=Configura os perfis de gerenciamento de energia
Comment[sv]=Anpassa strömhanteringsprofiler
Comment[uk]=Налаштування профілів керування живленням
Comment[x-test]=xxConfigure Power Management Profilesxx
Comment[zh_TW]=設定電源管理

X-KDE-Keywords=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid
