[Desktop Entry]
Exec=kcmshell4 powerdevil
Icon=battery-charging-060
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_powerdevil
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=system

Name=PowerDevil Preferences

Comment=Power Management Preferences

X-KDE-Keywords=system,power,power management,energy,laptop,battery,suspension,AC
