[Desktop Entry]
Exec=kcmshell4 powerdevilconfig
Icon=battery-charging-060
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/powerdevilconfig/index.html

X-KDE-Library=kcm_powerdevilconfig
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=system

Name=Power Management Preferences
Name[nds]=Stroompleeg-Instellen
Name[pt]=Preferências de Gestão da Energia
Name[pt_BR]=Preferências de Gestão da Energia
Name[sv]=Inställning av strömsparfunktion
Name[uk]=Налаштування керування живленням
Name[zh_TW]=電源管理喜好設定

Comment=Power Management Preferences
Comment[es]=Preferencias de gestión de energía
Comment[et]=Toitehalduse eelistused
Comment[gl]=Configura a xestión da enerxía
Comment[nds]=Stroompleeg-Instellen
Comment[pt]=Preferências de Gestão da Energia
Comment[pt_BR]=Preferências de Gestão da Energia
Comment[sv]=Inställning av strömsparfunktion
Comment[uk]=Налаштування керування живленням
Comment[zh_TW]=電源管理喜好設定

X-KDE-Keywords=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid
