[Desktop Entry]
Exec=kcmshell4 powerdevilconfig
Icon=preferences-system-power-management
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/powerdevilconfig/index.html

X-KDE-Library=kcm_powerdevilconfig
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=system

Name=Power Management
Name[be@latin]=Kiravańnie enerhijaj
Name[ca]=Gestió d'energia
Name[el]=Διαχείριση ενέργειας
Name[gl]=Xestión da enerxía
Name[gu]=પાવર વ્યવસ્થાપક
Name[he]=ניהול צריכת חשמל
Name[kk]=Қуаттандыруды басқару
Name[km]=ការ​គ្រប់គ្រង​ថាមពល
Name[kn]=ವಿದ್ಯುಚ್ಛಕ್ತಿ ವ್ಯವಸ್ಥಾಪನೆ
Name[ml]=പവര്‍ മാനേജ്മെന്റ്
Name[nb]=Strømstyring
Name[nds]=Stroomkuntrull
Name[nl]=Energiebeheer
Name[pa]=ਪਾਵਰ ਮੈਨਿਜਮੈਂਟ
Name[pt]=Gestão de Energia
Name[pt_BR]=Gestão de Energia
Name[ro]=Gestiune energie
Name[ru]=Управление питанием
Name[sv]=Strömsparhantering
Name[tr]=Güç Yönetimi
Name[uk]=Керування живленням
Name[x-test]=xxPower Managementxx
Name[zh_TW]=電源管理

Comment=Display brightness, suspend and power profile settings
Comment[ca]=Mostra els paràmetres de la lluminositat, suspensió i del perfil d'energia
Comment[el]=Φωτεινότητα οθόνης, αναστολή και ρυθμίσεις προφίλ ενέργειας
Comment[gl]=Mostra os axustes de brillo, suspensión e enerxía do perfíl
Comment[gu]=ડિસ્પ્લે ઉજાસ, સસ્પેન્ડ અને પાવર પ્રોફાઇલ ગોઠવણીઓ
Comment[kk]=Дисплей жарықтығы, қалғу, қуаттандыру профилінің параметрлері
Comment[km]=បង្ហាញ​ពន្លឺ ផ្អាក និង​កា​រកំណត់​ទម្រង់​ថាមពល
Comment[kn]=ಪ್ರದರ್ಶನ ಉಜ್ವಲತೆ (ಬ್ರೈಟ್ನೆಸ್), ವಜಾಮಾಡುವಿಕೆ (ಸಸ್ಪೆಂಡ್) ಹಾಗೂ ವಿದ್ಯುಚ್ಛಕ್ತಿ ವೈಶಿಷ್ಟ್ಯ ಸಂಯೋಜನೆಗಳು
Comment[ml]=തെളിച്ചവും, താല്‍കാലികമായി നിര്‍ത്തിവെക്കാനുള്ളതിന്റെയും ഊര്‍ജ്ജത്തിന്റെയും പ്രൊഫൈല്‍ സജ്ജീകരണങ്ങള്‍ കാണിക്കുക.
Comment[nb]=Innstillinger for lysstyrke, hvile/dvale og strømprofiler
Comment[nds]=Helligkeit-, Utsett- un Stroomprofil-Instellen wiesen
Comment[nl]=Schermhelderheid-, slaapstand- en energieprofielen instellen
Comment[pa]=ਡਿਸਪਲੇਅ ਚਮਕ, ਸਸਪੈਂਡ ਅਤੇ ਪਾਵਰ ਪਰੋਫਾਇਲ ਸੈਟਿੰਗ
Comment[pt]=Mostra a configuração do brilho, suspensão e perfil de energia
Comment[pt_BR]=Mostra a configuração do brilho, suspensão e perfil de energia
Comment[ro]=Configurări pentru luminozitatea ecranului, suspendare și profiluri alimentare
Comment[sv]=Visar ljusstyrka, och inställningar av viloläge och strömsparprofil
Comment[tr]=Ekran parlaklığı, askıya alma ve güç profili ayarları
Comment[uk]=Показати параметри яскравості, переходу до сну та керування живленням профілю
Comment[x-test]=xxDisplay brightness, suspend and power profile settingsxx
Comment[zh_TW]=顯示亮度、暫停與電源設定檔

X-KDE-Keywords=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid
