[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevil/Action
# X-KDE-Library=powerdevilrunscriptaction
Icon=system-run
Name=Run Script
Name[cs]=Spustit skript
Name[de]=Skript ausführen
Name[pl]=Uruchom skrypt
Name[pt_BR]=Executar script
Name[uk]=Виконати скрипт
Name[x-test]=xxRun Scriptxx
Comment=Runs a custom script
Comment[cs]=Spustit vlastní skript
Comment[de]=Führt ein benutzerdefiniertes Skript aus
Comment[pl]=Uruchomia własny skrypt
Comment[pt_BR]=Executa um script personalizado
Comment[uk]=Запускає вказаний користувачем скрипт
Comment[x-test]=xxRuns a custom scriptxx

X-KDE-PowerDevil-Action-ID=RunScript
X-KDE-PowerDevil-Action-IsBundled=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevilrunscriptaction_config
X-KDE-PowerDevil-Action-ConfigPriority=70
