[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevil/Action
X-KDE-Library=powerdevilkeyboardbrightnesscontrolaction_config
Icon=input-keyboard
Name=Keyboard Backlight
Name[es]=Luz trasera del teclado
Name[nl]=Toetsenbordverlichting
Name[pt]=Luz Traseira do Teclado
Name[pt_BR]=Iluminação do teclado
Name[sk]=Spätné svetlo klávesnice
Name[sl]=Osvetlitev tipkovnice
Name[uk]=Підсвічування клавіатури
Name[x-test]=xxKeyboard Backlightxx
Comment=Basic Controls for the keyboard backlight brightness
Comment[es]=Control básico del brillo de la luz trasera del teclado
Comment[nl]=Basisbesturing voor helderheid van de toetsenbordverlichting
Comment[pt]=Controlos básicos do brilho da luz traseira do teclado
Comment[pt_BR]=Controles básicos do brilho da iluminação do teclado
Comment[sk]=Základné ovládacie prvky pre jas spätného svetla klávesnice
Comment[sl]=Osnovni nadzor osvetlitve tipkovnice
Comment[uk]=Базове керування яскравістю підсвічування клавіатури
Comment[x-test]=xxBasic Controls for the keyboard backlight brightnessxx

X-KDE-PowerDevil-Action-ID=KeyboardBrightnessControl
X-KDE-PowerDevil-Action-IsBundled=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevilkeyboardbrightnesscontrolaction_config
X-KDE-PowerDevil-Action-ConfigPriority=100
