[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevil/Action
# X-KDE-Library=powerdevilsuspendsessionaction
Icon=system-shutdown
Name=Suspend session
Name[ca]=Suspèn la sessió
Name[de]=Sitzung in den Ruhezustand versetzen
Name[en_GB]=Suspend session
Name[es]=Suspender la sesión
Name[fi]=Keskeytä istunto
Name[id]=Suspensi sesi
Name[nds]=Törn utsetten
Name[nl]=Sessie onderbreken
Name[pa]=ਸ਼ੈਸ਼ਨ ਸਸਪੈਂਡ
Name[pl]=Wstrzymaj sesję
Name[pt]=Suspender a sessão
Name[pt_BR]=Suspender sessão
Name[sk]=Pozastaviť sedenie
Name[sl]=Prestavi sejo v pripravljenost
Name[sr]=Суспендуј сесију
Name[sr@ijekavian]=Суспендуј сесију
Name[sr@ijekavianlatin]=Suspenduj sesiju
Name[sr@latin]=Suspenduj sesiju
Name[sv]=Stoppa tillfälligt session
Name[uk]=Призупинити сеанс
Name[x-test]=xxSuspend sessionxx
Comment=Suspends the session
Comment[ca]=Suspèn la sessió
Comment[cs]=Pozastaví sezení
Comment[da]=Suspenderer sessionen
Comment[de]=Versetzt die Sitzung in den Ruhezustand
Comment[en_GB]=Suspends the session
Comment[es]=Suspende la sesión
Comment[fi]=Keskeyttää istunnon
Comment[fr]=Suspend la session
Comment[hu]=A munkamenet felfüggesztése
Comment[id]=Suspen sesi
Comment[ja]=セッションをサスペンドします
Comment[nb]=Suspenderer økta
Comment[nds]=Sett den Törn ut
Comment[nl]=De sessie onderbreken
Comment[pa]=ਸ਼ੈਸ਼ਨ ਸਸਪੈਂਡ ਕਰੋ
Comment[pl]=Wstrzymuje sesję
Comment[pt]=Suspende a sessão
Comment[pt_BR]=Suspende a sessão
Comment[ro]=Suspendă sesiunea
Comment[sk]=Pozastaví sedenie
Comment[sl]=Prestavi sejo v pripravljenost
Comment[sr]=Суспендује сесију
Comment[sr@ijekavian]=Суспендује сесију
Comment[sr@ijekavianlatin]=Suspenduje sesiju
Comment[sr@latin]=Suspenduje sesiju
Comment[sv]=Stoppar sessionen tillfälligt
Comment[tr]=Geçerli oturumu askıya alır
Comment[uk]=Призупиняє сеанс
Comment[x-test]=xxSuspends the sessionxx
Comment[zh_TW]=暫停工作階段

X-KDE-PowerDevil-Action-ID=SuspendSession
X-KDE-PowerDevil-Action-IsBundled=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevilsuspendsessionaction_config
X-KDE-PowerDevil-Action-ConfigPriority=90
X-KDE-PowerDevil-Action-RegistersDBusInterface=true
