[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevil/Action
# X-KDE-Library=powerdevilwirelesspowersavingaction
Icon=preferences-system-network
Name=Wireless power saving
Name[ca]=Estalvi d'energia de la sense fils
Name[ca@valencia]=Estalvi d'energia de la sense fils
Name[cs]=Úspor energie bezdrátových zařízení
Name[da]=Strømbesparelse på trådløst net
Name[de]=Energiesparmodus für Drahtlosgeräte
Name[el]=Εξοικονόμηση ενέργειας ασύρματου
Name[en_GB]=Wireless power saving
Name[es]=Ahorro de energía inalámbrico
Name[et]=Juhtmeta side energia kokkuhoid
Name[fi]=Langattoman virransäästö
Name[gl]=Aforro de enerxía de redes sen fíos
Name[he]=חיסכון באנרגיה אלחוטית (בלוטוס ו־WiFi)
Name[it]=Risparmio energetico wireless
Name[ko]=무선 절전
Name[lt]=Energijos taupymas išjungiant belaidį ryšį
Name[nl]=Energiebesparing van draadloos
Name[nn]=Straumsparing trådlauseiningar
Name[pl]=Tryb oszczędzania energii sieci bezprzewodowej
Name[pt]=Gestão de energia sem-fios
Name[pt_BR]=Gerenciamento de energia sem-fio
Name[ru]=Экономия энергии на беспроводную связь
Name[sk]=Bezdrôtové šetrenie energie
Name[sl]=Varčevanje z energijo brezžičnih naprav
Name[sr]=Штедња енергије бежичне
Name[sr@ijekavian]=Штедња енергије бежичне
Name[sr@ijekavianlatin]=Štednja energije bežične
Name[sr@latin]=Štednja energije bežične
Name[sv]=Trådlös strömsparhantering
Name[uk]=Заощадження енергії на бездротовому зв’язку
Name[x-test]=xxWireless power savingxx
Name[zh_CN]=无线节能
Name[zh_TW]=無線省電
Comment=Turns off signal-transmitting devices
Comment[ca]=Apaga els dispositius de transmissió de senyals
Comment[ca@valencia]=Apaga els dispositius de transmissió de senyals
Comment[da]=Slår enheder fra som sender signaler
Comment[de]=Schaltet alle drahtlos sendenden Geräte ab
Comment[el]=Κλείσιμο συσκευών μετάδοσης σημάτων
Comment[en_GB]=Turns off signal-transmitting devices
Comment[es]=Apaga los dispositivos que emiten señales
Comment[et]=Signaali edastavate seadmete väljalülitamine
Comment[fi]=Sammuttaa signaalin lähettimet
Comment[gl]=Apagar os dispositivos de emisión de sinais.
Comment[he]=כבה התקני שידור
Comment[it]=Spegne i dispositivi che trasmettono segnali
Comment[ko]=무선 장치 끄기
Comment[lt]=Išjungti belaidžius signalą perduodančius įrenginius
Comment[nl]=Zet apparaten die een radiosignaal uitzenden uit
Comment[nn]=Slå av einingar som sender signal
Comment[pl]=Wyłącza urządzenia nadające sygnał
Comment[pt]=Desliga os dispositivos de transmissão de sinais
Comment[pt_BR]=Desliga os dispositivos de transmissão de sinais
Comment[ru]=Выключает все радиопередающие устройства в компьютере
Comment[sk]=Vypne zariadenia vysielajúce signál
Comment[sl]=Izklopi naprave, ki oddajajo signal
Comment[sr]=Искључује уређаје који одашиљу сигнале
Comment[sr@ijekavian]=Искључује уређаје који одашиљу сигнале
Comment[sr@ijekavianlatin]=Isključuje uređaje koji odašilju signale
Comment[sr@latin]=Isključuje uređaje koji odašilju signale
Comment[sv]=Stänger av sändenheter
Comment[uk]=Вимкнути пристрої, що передають радіосигнал
Comment[x-test]=xxTurns off signal-transmitting devicesxx
Comment[zh_CN]=关闭信号传输设备
Comment[zh_TW]=關閉訊號傳送裝置
X-KDE-PowerDevil-Action-ID=WirelessPowerSaving
X-KDE-PowerDevil-Action-IsBundled=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevilwirelesspowersavingaction_config
X-KDE-PowerDevil-Action-ConfigPriority=60
X-KDE-PowerDevil-Action-HasRuntimeRequirement=true
X-KDE-PowerDevil-Action-RegistersDBusInterface=true
