[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevil/Action
# X-KDE-Library=powerdevilrunscriptaction
Icon=system-run
Name=Run Script
Comment=Runs a custom script

X-KDE-PowerDevil-Action-ID=RunScript
X-KDE-PowerDevil-Action-IsBundled=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevilrunscriptaction_config
X-KDE-PowerDevil-Action-ConfigPriority=70
