[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevil/Action
# X-KDE-Library=powerdevilwirelesspowersavingaction
Icon=preferences-system-network
Name=Wireless power saving
Name[ca]=Estalvi d'energia de la sense fils
Name[ca@valencia]=Estalvi d'energia de la sense fils
Name[cs]=Úspor energie bezdrátových zařízení
Name[de]=Energiesparmodus für Drahtlosgeräte
Name[es]=Ahorro de energía inalámbrico
Name[gl]=Aforro de enerxía de redes sen fíos
Name[it]=Risparmio energetico wireless
Name[nl]=Energiebesparing van draadloos
Name[nn]=Straumsparing trådlauseiningar
Name[pl]=Tryb oszczędzania energii sieci bezprzewodowej
Name[pt]=Gestão de energia sem-fios
Name[pt_BR]=Gerenciamento de energia sem-fio
Name[sk]=Bezdrôtové šetrenie energie
Name[sv]=Trådlös strömsparhantering
Name[uk]=Заощадження енергії на бездротовому зв’язку
Name[x-test]=xxWireless power savingxx
Comment=Turns off signal-transmitting devices
Comment[ca]=Apaga els dispositius de transmissió de senyals
Comment[ca@valencia]=Apaga els dispositius de transmissió de senyals
Comment[de]=Schaltet alle drahtlos sendenden Geräte ab
Comment[es]=Apaga los dispositivos que emiten señales
Comment[gl]=Apagar os dispositivos de emisión de sinais.
Comment[it]=Spegne i dispositivi che trasmettono segnali
Comment[nl]=Zet apparaten die een radiosignaal uitzenden uit
Comment[nn]=Slå av einingar som sender signal
Comment[pl]=Wyłącza urządzenia nadające sygnał
Comment[pt]=Desliga os dispositivos de transmissão de sinais
Comment[pt_BR]=Desliga os dispositivos de transmissão de sinais
Comment[sk]=Vypne zariadenia vysielajúce signál
Comment[sv]=Stänger av sändenheter
Comment[uk]=Вимкнути пристрої, що передають радіосигнал
Comment[x-test]=xxTurns off signal-transmitting devicesxx
X-KDE-PowerDevil-Action-ID=WirelessPowerSaving
X-KDE-PowerDevil-Action-IsBundled=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevilwirelesspowersavingaction_config
X-KDE-PowerDevil-Action-ConfigPriority=60
X-KDE-PowerDevil-Action-HasRuntimeRequirement=true
X-KDE-PowerDevil-Action-RegistersDBusInterface=true
