[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevil/Action
# X-KDE-Library=powerdevilhandlebuttoneventsaction
Icon=system-suspend

Name=Button events handling
Name[x-test]=xxButton events handlingxx

Comment=Performs an action whenever a button is pressed
Comment[x-test]=xxPerforms an action whenever a button is pressedxx

X-KDE-PowerDevil-Action-ID=HandleButtonEvents
X-KDE-PowerDevil-Action-IsBundled=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevilhandlebuttoneventsaction_config
X-KDE-PowerDevil-Action-ConfigPriority=80
