[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevil/Action
# X-KDE-Library=powerdevildimdisplayaction
Icon=preferences-desktop-display
Name=Dim screen
Name[ca]=Enfosquiment de la pantalla
Name[fi]=Näytön himmennys
Name[nds]=Schirmafdüüstern
Name[nl]=Scherm dimmen
Name[pl]=Przyciemnienie ekranu
Name[pt]=Escurecer o ecrã
Name[pt_BR]=Escurecer a tela
Name[sk]=Stmaviť obrazovku
Name[sl]=Potemni zaslon
Name[sr]=Пригуши екран
Name[sr@ijekavian]=Пригуши екран
Name[sr@ijekavianlatin]=Priguši ekran
Name[sr@latin]=Priguši ekran
Name[sv]=Dämpa skärmen
Name[uk]=Зменшення яскравості екрана
Name[x-test]=xxDim screenxx
Comment=Dims gradually the display on a time basis
Comment[ca]=Atenua gradualment la pantalla en funció del temps
Comment[es]=Oscurece la pantalla gradualmente según pasa el tiempo
Comment[fi]=Himmentää näyttöä vaiheittain ajan perusteella
Comment[nb]=Mørklegger skjermen gradvis etter som tiden går
Comment[nds]=Maakt de Schirm na en vörinstellt Tiet düüsterer
Comment[nl]=Dimt geleidelijk het beeldscherm op basis van tijd
Comment[pl]=Po podanym czasie, stopniowo przyciemnia wyświetlacz
Comment[pt]=Escurece gradualmente o ecrã ao longo de algum tempo
Comment[pt_BR]=Escurece gradualmente a tela durante um período
Comment[sk]=Postupne stmavie obrazovku v závislosti na čase
Comment[sl]=Postopoma potemni zaslon
Comment[sr]=Постепено пригушује екран на задато време
Comment[sr@ijekavian]=Постепено пригушује екран на задато вријеме
Comment[sr@ijekavianlatin]=Postepeno prigušuje ekran na zadato vrijeme
Comment[sr@latin]=Postepeno prigušuje ekran na zadato vreme
Comment[sv]=Dämpa bildskärmen gradvis baserat på tid
Comment[tr]=Zamana bağlı olarak ekranı yavaşça karartır
Comment[uk]=Поступове зменшення яскравості дисплея з часом
Comment[x-test]=xxDims gradually the display on a time basisxx

X-KDE-PowerDevil-Action-ID=DimDisplay
X-KDE-PowerDevil-Action-IsBundled=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevildimdisplayaction_config
X-KDE-PowerDevil-Action-ConfigPriority=99
X-KDE-PowerDevil-Action-HasRuntimeRequirement=true
