[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevilAction
# X-KDE-Library=powerdevilsuspendsessionaction
Icon=preferences-desktop-screensaver
Name=Suspend Session
Name[x-test]=xxSuspend Sessionxx
Comment=Suspends the session
Comment[x-test]=xxSuspends the sessionxx

X-KDE-PowerDevil-Action-ID=SuspendSession
X-KDE-PowerDevil-Action-IsBundled=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevilsuspendsessionaction_config
X-KDE-PowerDevil-Action-ConfigPriority=90
