[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevil/Action
# X-KDE-Library=powerdevilhandlebuttoneventsaction
Icon=system-suspend

Name=Button events handling
Name[nl]=Knop voor afhandelen van evenementen
Name[pl]=Obsługa zdarzeń przycisków
Name[pt_BR]=Tratamento de eventos dos botões
Name[sv]=Händelsehantering för knappar
Name[uk]=Обробка натискань кнопок
Name[x-test]=xxButton events handlingxx

Comment=Performs an action whenever a button is pressed
Comment[nl]=Voer een actie uit als er een knop wordt ingedrukt
Comment[pl]=Wykonuje działanie przy każdorazowym naciśnięciu przycisku
Comment[pt_BR]=Executa uma ação sempre que um botão é pressionado
Comment[sv]=Utför en åtgärd så fort en knapp trycks ner
Comment[uk]=Виконання дій у відповідь на натискання кнопки
Comment[x-test]=xxPerforms an action whenever a button is pressedxx

X-KDE-PowerDevil-Action-ID=HandleButtonEvents
X-KDE-PowerDevil-Action-IsBundled=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevilhandlebuttoneventsaction_config
X-KDE-PowerDevil-Action-ConfigPriority=80
X-KDE-PowerDevil-Action-HasRuntimeRequirement=true
X-KDE-PowerDevil-Action-RegistersDBusInterface=true
