[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevil/Action
# X-KDE-Library=powerdevildimdisplayaction
Icon=preferences-desktop-display
Name=Dim Display
Name[ast]=Atenuación de pantalla
Name[bg]=Затъмняване на екрана
Name[bs]=Priguši ekran
Name[ca]=Atenuació de la pantalla
Name[ca@valencia]=Atenuació de la pantalla
Name[cs]=Ztmavení obrazovky
Name[da]=Dæmp skærmen
Name[de]=Bildschirm dimmen
Name[el]=Μείωση φωτεινότητας οθόνης
Name[en_GB]=Dim Display
Name[es]=Atenuación de pantalla
Name[et]=Heleduse tumendamine
Name[eu]=Lausotu bistaratzea
Name[fi]=Himmennä näyttö
Name[fr]=Assombrir l'affichage
Name[he]=עמעום הצג
Name[hi]=मंद दृश्य
Name[hr]=Prigušen zaslon
Name[hu]=Képernyő elsötétítése
Name[ia]=Obscura monstrator
Name[is]=Dimma skjá
Name[it]=Scurisci lo schermo
Name[ja]=ディスプレイを暗くする
Name[kk]=Дисплей жарықтығын азайту
Name[km]=ការ​បង្ហាញ​ព្រិលៗ
Name[kn]=ಪ್ರದರ್ಶಕವನ್ನು ಮಬ್ಬುಗೊಳಿಸುತ್ತದೆ
Name[ko]=화면 어둡게 하기
Name[lt]=Pritemdyti ekraną
Name[nb]=Mørklegg skjermen
Name[nds]=Schirm afdüüstern
Name[nl]=Beeldscherm dimmen
Name[pa]=ਡਿਸਪਲੇਅ ਡਿਮ
Name[pl]=Przyciemnij ekran
Name[pt]=Escurecer o Ecrã
Name[pt_BR]=Escurecer a tela
Name[ro]=Întunecă afișajul
Name[ru]=Затемнить экран
Name[sk]=Stmavieť obrazovku
Name[sl]=Potemni zaslon
Name[sr]=Пригуши екран
Name[sr@ijekavian]=Пригуши екран
Name[sr@ijekavianlatin]=Priguši ekran
Name[sr@latin]=Priguši ekran
Name[sv]=Dämpa bildskärm
Name[th]=ลดความสว่างจอภาพ
Name[tr]=Ekranı Karart
Name[ug]=ئېكراننى غۇۋالاشتۇر
Name[uk]=Зменшити яскравість дисплея
Name[wa]=Baxhî l' håynaedje
Name[x-test]=xxDim Displayxx
Name[zh_CN]=变暗显示器
Name[zh_TW]=變暗顯示
Comment=Dims gradually the display on a time basis
Comment[ast]=Atenúa la pantalla gradualmente según pasa'l tiempu
Comment[bg]=Постепенно затъмняване на екрана след определено време
Comment[bs]=Postepeno prigušuje ekran na zadato vrijeme
Comment[ca]=Atenua gradualment la pantalla en funció del temps
Comment[ca@valencia]=Atenua gradualment la pantalla en funció del temps
Comment[cs]=Postupné ztmavení obrazovky
Comment[da]=Dæmper skærmen gradvist baseret på tid
Comment[de]=Dunkelt den Bildschirm zeitgesteuert ab
Comment[el]=Μειώνει σταδιακά στο χρόνο την φωτεινότητα της οθόνης
Comment[en_GB]=Dims gradually the display on a time basis
Comment[es]=Atenúa la pantalla gradualmente según pasa el tiempo
Comment[et]=Kuva järkjärguline tumendamine aega arvestades
Comment[eu]=Bistaratzea pixkanaka lausotzen du denboran oinarrituta
Comment[fi]=Himmentää näyttöä vaiheittain ajan perusteella
Comment[fr]=Assombrit graduellement l'affichage sur une base temporelle
Comment[he]=משמש לעמעום הדרגתי של הצג על בסיס זמן
Comment[hr]=Postepeno prigušuje zaslon na vremenskoj osnovi
Comment[hu]=Arányosan csökkenti a fényerőt egy adott idő után
Comment[ia]=Obscura gradualmente le monstrator usante como base le tempore
Comment[is]=Dimmir skjáborðið smátt og smátt
Comment[it]=Scurisce gradualmente lo schermo su base temporale
Comment[ja]=ディスプレイを時間とともに徐々に暗くする
Comment[kk]=Дисплей жарықтығын біртіндеп азайту
Comment[km]=ធ្វើ​ឲ្យ​​ការ​បង្ហាញ​ព្រិល​ៗ​ទៅ​តាម​​ពេលវេលា​
Comment[kn]=ಸಮಯಕ್ಕೆ ಅನುಗುಣವಾಗಿ ಪ್ರದರ್ಶಕವನ್ನು ನಿಧಾನವಾಗಿ ಮಬ್ಬುಗೊಳಿಸುತ್ತದೆ
Comment[ko]=밝기를 단계적으로 어둡게 합니다
Comment[lt]=Laikui bėgant, dalinai pritamsina ekraną
Comment[nb]=Mørklegger skjermen gradvis etter som tiden går
Comment[nds]=Maakt de Schirm na en vörinstellt Tiet düüsterer
Comment[nl]=Dimt geleidelijk het beeldscherm op basis van tijd
Comment[pa]=ਸਮੇਂ ਨਾਲ ਡਿਸਪਲੇਅ ਨੂੰ ਲਗਾਤਾਰ ਡਿਮ ਕਰੋ
Comment[pl]=Stopniowo przyciemnia wyświetlacz po czasie
Comment[pt]=Escurece gradualmente o ecrã durante um dado período
Comment[pt_BR]=Escurece gradualmente a tela durante um período
Comment[ro]=Întunecă gradual ecranul în dependență de timp
Comment[ru]=Экран медленно тускнеет со временем
Comment[sk]=Postupne stmavie obrazovku v závislosti na čase
Comment[sl]=Postopoma potemni zaslon
Comment[sr]=Постепено пригушује екран на задато време
Comment[sr@ijekavian]=Постепено пригушује екран на задато вријеме
Comment[sr@ijekavianlatin]=Postepeno prigušuje ekran na zadato vrijeme
Comment[sr@latin]=Postepeno prigušuje ekran na zadato vreme
Comment[sv]=Dämpa bildskärmen gradvis baserat på tid
Comment[th]=ลดความสว่างจอภาพลงเมื่อถึงช่วงเวลาตามที่กำหนด
Comment[tr]=Zamana bağlı olarak ekranı karart
Comment[uk]=Поступове зменшення яскравості дисплея з часом
Comment[wa]=Baxhe pitchote a midjote li håynaedje so ene båze di tins
Comment[x-test]=xxDims gradually the display on a time basisxx
Comment[zh_CN]=在一定时间逐步变暗屏幕
Comment[zh_TW]=依時間逐漸讓顯示變暗

X-KDE-PowerDevil-Action-ID=DimDisplay
X-KDE-PowerDevil-Action-IsBundled=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevildimdisplayaction_config
X-KDE-PowerDevil-Action-ConfigPriority=99
