[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevil/Action
Icon=preferences-system-power-management-profile
Name=Power management profile
Comment=Apply a power management profile

X-KDE-PowerDevil-Action-ID=PlatformProfile
X-KDE-PowerDevil-Action-IsBundled=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevilplatformprofileaction_config
X-KDE-PowerDevil-Action-ConfigPriority=70
X-KDE-PowerDevil-Action-HasRuntimeRequirement=true
X-KDE-PowerDevil-Action-RegistersDBusInterface=true
