[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevil/Action
Icon=preferences-system-power-management-profile
Name=Power management profile
Name[ar]=تشكيلة إدارة الطاقة
Name[az]=Enerjinin idarəsi profili
Name[ca]=Perfil de gestió d'energia
Name[cs]=Profil správy napájení
Name[el]=Προφίλ διαχείρισης ισχύος
Name[en_GB]=Power management profile
Name[es]=Perfil de gestión de energía
Name[eu]=Energia-kudeaketa profila
Name[fr]=Profil de gestion de l'énergie
Name[lt]=Energijos valdymo profilis
Name[nl]=Energiebeheerprofiel
Name[pt]=Perfil de gestão de energia
Name[pt_BR]=Perfil de gerenciamento de energia
Name[ro]=Profil de gestiune a alimentării
Name[sk]=Profil správy napájania
Name[sl]=Profil upravljanja z energijo
Name[sv]=Strömhanteringsprofil
Name[uk]=Профіль керування живленням
Name[x-test]=xxPower management profilexx
Name[zh_CN]=电源管理配置方案
Comment=Apply a power management profile
Comment[ar]=طبّق تشكيلة إدارة الطاقة
Comment[az]=Enerjinin idarəsi profilini tətbiq edin
Comment[ca]=Aplica un perfil de gestió d'energia
Comment[cs]=Použít profil správy napájení
Comment[el]=Εφαρμογή προφίλ διαχείρισης ισχύος
Comment[en_GB]=Apply a power management profile
Comment[es]=Aplicar un perfil de gestión de energía
Comment[eu]=Aplikatu energia kudeatzeko profil bat
Comment[fr]=Appliquer un profil de gestion de l'énergie
Comment[lt]=Taikyti energijos valdymo profilį
Comment[nl]=Een energiebeheerprofiel toepassen
Comment[pt]=Aplicar um perfil de gestão de energia
Comment[pt_BR]=Aplicar um perfil de gerenciamento de energia
Comment[ro]=Aplică un profil de gestiune a alimentării
Comment[sk]=Použite profil správy napájania
Comment[sl]=Uveljavi profil upravljanja z energijo
Comment[sv]=Tillämpa en strömhanteringsprofil
Comment[uk]=Застосувати профіль керування живленням
Comment[x-test]=xxApply a power management profilexx
Comment[zh_CN]=应用电源管理配置方案

X-KDE-PowerDevil-Action-ID=PowerProfile
X-KDE-PowerDevil-Action-IsBundled=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevilpowerprofileaction_config
X-KDE-PowerDevil-Action-ConfigPriority=70
X-KDE-PowerDevil-Action-HasRuntimeRequirement=true
X-KDE-PowerDevil-Action-RegistersDBusInterface=true
