[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevilAction
# X-KDE-Library=powerdevildimdisplayaction
Icon=preferences-desktop-screensaver
Name=Dim Display
Name[de]=Bildschirm dimmen
Name[et]=Heleduse tumendamine
Name[ia]=Obscurar Monstrator
Name[lt]=Pritemdyti ekraną
Name[pa]=ਡਿਸਪਲੇਅ ਡਿਮ
Name[pt]=Escurecer o Ecrã
Name[pt_BR]=Escurecer a tela
Name[sv]=Dämpa bildskärm
Name[uk]=Зменшити яскравість дисплея
Name[x-test]=xxDim Displayxx
Name[zh_TW]=變暗顯示
Comment=Dims gradually the display on a time basis
Comment[de]=Dunkelt den Bildschirm zeitgesteuert ab
Comment[et]=Kuva järkjärguline tumendamine aega arvestades
Comment[ia]=Obscurar gradualmente le monstrator usante como base le tempore
Comment[pt]=Escurece gradualmente o ecrã durante um dado período
Comment[pt_BR]=Escurece gradualmente a tela durante um período
Comment[sv]=Dämpa bildskärmen gradvis baserat på tid
Comment[uk]=Поступове зменшення яскравості дисплея з часом
Comment[x-test]=xxDims gradually the display on a time basisxx
Comment[zh_TW]=依時間逐漸讓顯示變暗

X-KDE-PowerDevil-Action-ID=DimDisplay
X-KDE-PowerDevil-Action-IsBundled=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevildimdisplayaction_config
X-KDE-PowerDevil-Action-ConfigPriority=99
