[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevilAction
# X-KDE-Library=powerdevildisabledesktopeffectsaction
Icon=preferences-desktop-screensaver
Name=Disable Desktop Effects
Name[pa]=ਡੈਸਕਟਾਪ ਪਰਭਾਵ ਬੰਦ ਕਰੋ
Name[pt]=Desactivar os Efeitos do Ecrã
Name[sv]=Inaktivera skrivbordseffekter
Name[uk]=Вимкнути ефекти стільниці
Name[x-test]=xxDisable Desktop Effectsxx
Comment=Temporary disables KWin's desktop effects
Comment[pt]=Desactiva temporariamente os efeitos do ecrã do KWin
Comment[sv]=Inaktiverar Kwins skrivbordseffekter tillfälligt
Comment[uk]=Тимчасово вимикання ефекти стільниці KWin
Comment[x-test]=xxTemporary disables KWin's desktop effectsxx

X-KDE-PowerDevil-Action-ID=DisableDesktopEffects
X-KDE-PowerDevil-Action-IsBundled=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevildisabledesktopeffectsaction_config
X-KDE-PowerDevil-Action-ConfigPriority=80
