[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevil/Action
X-KDE-Library=powerdevilbrightnesscontrolaction_config
Icon=preferences-system-power-management
Name=Display Brightness
Name[ast]=Brillu de la pantalla
Name[de]=Bildschirmhelligkeit
Name[en_GB]=Display Brightness
Name[es]=Brillo de la pantalla
Name[et]=Monitori heledus
Name[hr]=Osvjetljenje ekrana
Name[ia]=Monstrar Brillantia
Name[kk]=Дисплейдің жарықтығы
Name[km]=ពន្លឺ​នៃ​ការ​បង្ហាញ
Name[ko]=디스플레이 밝기
Name[lt]=Ekrano šviesumas
Name[nb]=Skjermlysstyrke
Name[nds]=Helligkeit
Name[nl]=Helderheid van het beeldscherm
Name[pa]=ਡਿਸਪਲੇਅ ਚਮਕ
Name[pt]=Brilho do Ecrã
Name[pt_BR]=Brilho da tela
Name[sv]=Bildskärmens ljusstyrka
Name[th]=ความสว่างของการแสดงผล
Name[uk]=Яскравість дисплея
Name[x-test]=xxDisplay Brightnessxx
Name[zh_TW]=顯示亮度
Comment=Basic Controls for brightness
Comment[ast]=Control básicu del brillu
Comment[de]=Grundeinstellungen zur Bildschirmhelligkeit
Comment[en_GB]=Basic Controls for brightness
Comment[es]=Control básico del brillo
Comment[et]=Heleduse lihtne juhtimine
Comment[ia]=Controlos basic pro brillantia
Comment[kk]=Жарықтығының негізгі тұтқалары
Comment[km]=ការ​ត្រួតពិនិត្យ​ពន្លឺ​ជា​មូលដ្ឋាន
Comment[ko]=기본 밝기 제어
Comment[lt]=Pagrindiniai šviesumo valdikliai
Comment[nb]=Grunnleggende lysstyrkestyring
Comment[nds]=Eenfach Helligkeit-Instellen
Comment[nl]=Basisbesturing voor helderheid
Comment[pa]=ਚਮਕ ਲਈ ਮੁੱਢਲੇ ਕੰਟਰੋਲ
Comment[pt]=Controlos básicos do brilho
Comment[pt_BR]=Controles básicos do brilho
Comment[sv]=Grundkontroller för ljusstyrka
Comment[th]=การควบคุมพื้นฐานสำหรับความสว่าง
Comment[tr]=Parlaklık için temel kontroller
Comment[uk]=Базове керування яскравістю
Comment[x-test]=xxBasic Controls for brightnessxx
Comment[zh_TW]=基本亮度控制

X-KDE-PowerDevil-Action-ID=BrightnessControl
X-KDE-PowerDevil-Action-IsBundled=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevilbrightnesscontrolaction_config
X-KDE-PowerDevil-Action-ConfigPriority=100
