[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevil/Action
X-KDE-Library=powerdevilkeyboardbrightnesscontrolaction_config
Icon=input-keyboard
Name=Keyboard Backlight
Name[cs]=Podsvícení klávesnice
Name[de]=Tastatur-Hintergrundhelligkeit
Name[es]=Luz trasera del teclado
Name[nl]=Toetsenbordverlichting
Name[pt]=Luz Traseira do Teclado
Name[pt_BR]=Iluminação do teclado
Name[sk]=Spätné svetlo klávesnice
Name[sl]=Osvetlitev tipkovnice
Name[sr]=Осветљење тастатуре
Name[sr@ijekavian]=Осветљење тастатуре
Name[sr@ijekavianlatin]=Osvetljenje tastature
Name[sr@latin]=Osvetljenje tastature
Name[sv]=Bakgrundsbelysning på tangentbord
Name[uk]=Підсвічування клавіатури
Name[x-test]=xxKeyboard Backlightxx
Name[zh_TW]=鍵盤背光
Comment=Basic Controls for the keyboard backlight brightness
Comment[cs]=Základní ovládání jasu podsvícení klávesnice
Comment[de]=Grundeinstellungen zur Hintergrundhelligkeit der Tastatur
Comment[es]=Control básico del brillo de la luz trasera del teclado
Comment[nl]=Basisbesturing voor helderheid van de toetsenbordverlichting
Comment[pt]=Controlos básicos do brilho da luz traseira do teclado
Comment[pt_BR]=Controles básicos do brilho da iluminação do teclado
Comment[sk]=Základné ovládacie prvky pre jas spätného svetla klávesnice
Comment[sl]=Osnovni nadzor osvetlitve tipkovnice
Comment[sr]=Основне контроле осветљења тастатуре
Comment[sr@ijekavian]=Основне контроле осветљења тастатуре
Comment[sr@ijekavianlatin]=Osnovne kontrole osvetljenja tastature
Comment[sr@latin]=Osnovne kontrole osvetljenja tastature
Comment[sv]=Grundkontroller för ljusstyrka av tangentbordets bakgrundsbelysning
Comment[uk]=Базове керування яскравістю підсвічування клавіатури
Comment[x-test]=xxBasic Controls for the keyboard backlight brightnessxx
Comment[zh_TW]=鍵盤背光亮度的基本控制

X-KDE-PowerDevil-Action-ID=KeyboardBrightnessControl
X-KDE-PowerDevil-Action-IsBundled=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevilkeyboardbrightnesscontrolaction_config
X-KDE-PowerDevil-Action-ConfigPriority=100
