[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevil/Action
# X-KDE-Library=powerdevilsuspendsessionaction
Icon=system-shutdown
Name=Suspend Session
Name[cs]=Pozastavit sezení
Name[de]=Sitzung in den Ruhezustand versetzen
Name[es]=Suspender sesión
Name[fr]=Suspendre la session
Name[nl]=Sessie onderbreken
Name[pl]=Wstrzymaj sesję
Name[pt]=Suspender a Sessão
Name[pt_BR]=Suspender sessão
Name[sk]=Pozastaviť sedenie
Name[sv]=Stoppa tillfälligt session
Name[uk]=Призупинити сеанс
Name[x-test]=xxSuspend Sessionxx
Comment=Suspends the session
Comment[cs]=Pozastaví sezení
Comment[de]=Versetzt die Sitzung in den Ruhezustand
Comment[es]=Suspende la sesión
Comment[fr]=Suspend la session
Comment[nl]=De sessie onderbreken
Comment[pl]=Wstrzymuje sesję
Comment[pt]=Suspende a sessão
Comment[pt_BR]=Suspende a sessão
Comment[sk]=Pozastaví sedenie
Comment[sv]=Stoppar sessionen tillfälligt
Comment[uk]=Призупиняє сеанс
Comment[x-test]=xxSuspends the sessionxx

X-KDE-PowerDevil-Action-ID=SuspendSession
X-KDE-PowerDevil-Action-IsBundled=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevilsuspendsessionaction_config
X-KDE-PowerDevil-Action-ConfigPriority=90
X-KDE-PowerDevil-Action-RegistersDBusInterface=true
