[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevilAction
# X-KDE-Library=powerdevilrunscriptaction
Icon=preferences-desktop-screensaver
Name=Run Script
Name[x-test]=xxRun Scriptxx
Comment=Runs a custom script
Comment[x-test]=xxRuns a custom scriptxx

X-KDE-PowerDevil-Action-ID=RunScript
X-KDE-PowerDevil-Action-IsBundled=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevilrunscriptaction_config
X-KDE-PowerDevil-Action-ConfigPriority=70
