[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevil/Action
# X-KDE-Library=powerdevildisabledesktopeffectsaction
Icon=preferences-desktop-screensaver
Name=Disable Desktop Effects
Comment=Temporary disables KWin's desktop effects

X-KDE-PowerDevil-Action-ID=DisableDesktopEffects
X-KDE-PowerDevil-Action-IsBundled=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevildisabledesktopeffectsaction_config
X-KDE-PowerDevil-Action-ConfigPriority=80
