[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevilAction
X-KDE-Library=powerdevilbrightnesscontrolaction_config
Icon=preferences-desktop-screensaver
Name=Display Brightness
Comment=Basic Controls for brightness

X-KDE-PowerDevil-Action-ID=BrightnessControl
X-KDE-PowerDevil-Action-IsBundled=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevilbrightnesscontrolaction_config
X-KDE-PowerDevil-Action-ConfigPriority=100
