[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevil/Action
X-KDE-Library=powerdevilbrightnesscontrolaction_config
Icon=preferences-system-power-management
Name=Screen Brightness
Name[ca]=Lluminositat de la pantalla
Name[cs]=Jas obrazovky
Name[da]=Skærmens lysstyrke
Name[de]=Bildschirmhelligkeit
Name[es]=Brillo de la pantalla
Name[fi]=Näytön kirkkaus
Name[fr]=Luminosité de l'écran
Name[nb]=Skjermlysstyrke
Name[nds]=Schirm-Helligkeit
Name[nl]=Schermhelderheid
Name[pl]=Jasność ekranu
Name[pt]=Brilho do Ecrã
Name[pt_BR]=Brilho da tela
Name[ro]=Luminozitate ecran
Name[sk]=Jas obrazovky
Name[sl]=Svetlost zaslona
Name[sv]=Skärmljusstyrka
Name[tr]=Ekran Parlaklığı
Name[uk]=Яскравість екрана
Name[x-test]=xxScreen Brightnessxx
Name[zh_TW]=螢幕亮度
Comment=Basic Controls for brightness
Comment[ca]=Controls bàsics per la lluminositat
Comment[cs]=Základní ovládání jasu
Comment[da]=Basal kontrol af lysstyrke
Comment[de]=Grundeinstellungen zur Bildschirmhelligkeit
Comment[es]=Controles básicos del brillo
Comment[fi]=Kirkkauden perussäätimet
Comment[fr]=Contrôles simples de la luminosité
Comment[nb]=Grunnleggende lysstyrkestyring
Comment[nds]=Eenfach Helligkeit-Instellen
Comment[nl]=Basisbesturing voor helderheid
Comment[pl]=Podstawowe sterowanie jasnością
Comment[pt]=Controlos básicos do brilho
Comment[pt_BR]=Controles básicos do brilho
Comment[ro]=Controale de bază pentru luminozitate
Comment[sk]=Základné ovládanie jasu
Comment[sl]=Osnovni nadzor svetlosti
Comment[sv]=Grundkontroller för ljusstyrka
Comment[tr]=Parlaklık için temel kontroller
Comment[uk]=Базове керування яскравістю
Comment[x-test]=xxBasic Controls for brightnessxx
Comment[zh_TW]=基本亮度控制

X-KDE-PowerDevil-Action-ID=BrightnessControl
X-KDE-PowerDevil-Action-IsBundled=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevilbrightnesscontrolaction_config
X-KDE-PowerDevil-Action-ConfigPriority=100
X-KDE-PowerDevil-Action-HasRuntimeRequirement=true
X-KDE-PowerDevil-Action-RegistersDBusInterface=true
