[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevil/Action
X-KDE-Library=powerdevilkeyboardbrightnesscontrolaction_config
Icon=input-keyboard
Name=Keyboard Backlight
Name[nl]=Toetsenbordverlichting
Name[pl]=Podświetlenie klawiatury
Name[pt_BR]=Iluminação do teclado
Name[sv]=Bakgrundsbelysning på tangentbord
Name[uk]=Підсвічування клавіатури
Name[x-test]=xxKeyboard Backlightxx
Comment=Basic Controls for the keyboard backlight brightness
Comment[nl]=Basisbesturing voor helderheid van de toetsenbordverlichting
Comment[pl]=Podstawowe sterowanie dla jasności podświetlenia klawiatury
Comment[pt_BR]=Controles básicos da iluminação do teclado
Comment[sv]=Grundkontroller för ljusstyrka av tangentbordets bakgrundsbelysning
Comment[uk]=Базове керування яскравістю підсвічування клавіатури
Comment[x-test]=xxBasic Controls for the keyboard backlight brightnessxx

X-KDE-PowerDevil-Action-ID=KeyboardBrightnessControl
X-KDE-PowerDevil-Action-IsBundled=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevilkeyboardbrightnesscontrolaction_config
X-KDE-PowerDevil-Action-ConfigPriority=100
X-KDE-PowerDevil-Action-HasRuntimeRequirement=true
X-KDE-PowerDevil-Action-RegistersDBusInterface=true
