[Desktop Entry]
Name=PowerDevil
Name[nds]=Stroomdüvel
Name[sv]=Powerdevil

Comment=Basic Power Management Operations
Comment[es]=Administrar operaciones básicas de gestión de energía
Comment[et]=Peamiste toitehalduse operatsioonide haldamine
Comment[gl]=Xestiona as operacións básicas de xestión da enerxía
Comment[nds]=Eenfach Stroomspoor-Funkschonen plegen
Comment[pt]=Gerir as Operações Básicas de Energia
Comment[pt_BR]=Gerir as Operações Básicas de Energia
Comment[sv]=Hantera grundläggande strömsparfunktioner
Comment[uk]=Керування базовими операціями з керування живленням
Comment[zh_TW]=管理基本的電源管理操作

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_powerdevil
Icon=battery-charging-040

X-KDE-PluginInfo-Author=Dario Freddi
X-KDE-PluginInfo-Email=drf@kdemod.ath.cx
X-KDE-PluginInfo-Name=PowerDevil
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
