[Desktop Entry]
Name=Battery Monitor
Name[af]=Battery-monitor
Name[be]=Назіранне за батарэяй
Name[bg]=Мониторинг на батерията
Name[bn_IN]=ব্যাটারি নিরীক্ষণ ব্যবস্থা
Name[ca]=Monitor de bateria
Name[cs]=Monitor baterie
Name[csb]=Mònitor baterëji
Name[da]=Batteriovervågning
Name[de]=Akkuüberwachung
Name[el]=Επόπτης συστήματος
Name[eo]=Bateristata programo
Name[es]=Monitor de batería
Name[et]=Aku jälgija
Name[eu]=Bateriraren monitorea
Name[fi]=Akkujen valvontaohjelma
Name[fr]=Indicateur de batterie
Name[fy]=Batterij monitor
Name[ga]=Monatóir an Chadhnra
Name[gl]=Vixiante da batería
Name[gu]=બેટરી દર્શક
Name[hr]=Nadzor baterije
Name[hu]=Feltöltöttségjelző
Name[is]=Rafhlöðueftirlit
Name[it]=Monitor della batteria
Name[ja]=バッテリモニタ
Name[km]=កម្មវិធី​ត្រួត​​ពិនិត្យ​ថាមពល
Name[ko]=배터리 표시기
Name[ku]=Monîtota bateriyê
Name[lt]=Baterijos stebėtojas
Name[lv]=Baterijas novērotājs
Name[mk]=Монитор за батерија
Name[ml]=ബാറ്ററി നിരീക്ഷകന്‍
Name[mr]=बॅटरी मॉनिटर
Name[nb]=Batteriovervåker
Name[nds]=Batteriekieker
Name[ne]=ब्याट्री अनुगमन
Name[nl]=Accumonitor
Name[nn]=Batteriovervaking
Name[oc]=Monitor de batariá
Name[pa]=ਬੈਟਰੀ ਮਾਨੀਟਰ
Name[pl]=Monitor akumulatora
Name[pt]=Monitor da Bateria
Name[pt_BR]=Monitor da Bateria
Name[ro]=Monitor de baterie
Name[ru]=Индикатор батареи
Name[se]=Báhttergoziheaddji
Name[sl]=Nadzornik baterij
Name[sr]=надзор батерије
Name[sr@latin]=nadzor baterije
Name[sv]=Batteriövervakare
Name[te]=బ్యాటరి మానిటర్
Name[tg]=Назорати батарея
Name[th]=สถานะแบตเตอรี
Name[tr]=Pil İzleyici
Name[uk]=Монітор батарей
Name[uz]=Batareya nazoratchisi
Name[uz@cyrillic]=Батарея назоратчиси
Name[wa]=Corwaitoe del batreye
Name[x-test]=xxBattery Monitorxx
Name[zh_CN]=电池监视器
Name[zh_TW]=電池監視器
Comment=See the power status of your battery
Comment[nds]=Den Tostand vun Dien Batterien bekieken
Comment[zh_TW]=查看您的電池的電力狀態
Icon=battery
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_battery
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=battery
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-PlasmoidCategory=System Information
