[Desktop Entry]
Name=PowerDevil
Name[sv]=Powerdevil
Comment=A Power Management Tool for KDE4
Comment[es]=Una herramienta de gestión de energía para KDE4
Comment[gl]=Unha ferramenta de xestión da enerxía para KDE4
Comment[pt]=Uma Ferramenta de Gestão de Energia para o KDE4
Comment[pt_BR]=Uma Ferramenta de Gestão de Energia para o KDE4
Comment[sv]=Verktyg för strömsparhantering i KDE 4
Comment[uk]=Інструмент для керування живленням для KDE4
Comment[zh_TW]=KDE4 的電源管理工具

Icon=battery-charging-040
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_powerdevil
X-KDE-PluginInfo-Author=Dario Freddi
X-KDE-PluginInfo-Email=drf@kdemod.ath.cx
X-KDE-PluginInfo-Name=PowerDevil
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://www.kde.org/
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
